.classAlign{
    width: 65%;
    justify-content: flex-start;
}
.unlists
{
    float : left;
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
  
  }
  .btn-container button {
    margin-left: 10px; /* 버튼 사이에 10px 여백 추가 */
    float: right;
    margin-left: 20px;
  }

  .contextS
  {
    float : left;
    display: flex;
  }
  
  .imgBox {
    /* 이미지 크기 조절 */
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin-right: 10px;
  }
  
  .nemeContext {
    /* 텍스트 정렬 */
    align-self: center;
    margin-left: 10px; /* 이미지와 텍스트 간 여백 */
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .bottomMargin
  {
    margin-bottom: 10px;
  }